:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-color: #f2f2f2;
}

body {
  margin: 0;
  display: flex;
  background-image: url("./public/imgs/fondo-nube-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 200;
}

.extra-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
